html{
    width: 1280px;
    text-align: center;
    margin: auto;
}
header{
    width: 1280px;
    margin-top: 63px;
}
main{
    width: 1280px;
    height: 832px;
    margin-top: 63px;
}

h1{
    font-size: 80px;
    font-family: Roboto;
    width: 334px;
    margin-bottom: 0%;
}
span{
    color:rgba(80, 204, 226, 0.977);
}

a{
    text-decoration: none;
    color: black;
}
    .header-menu-container{
        width: 1280x;
        background-color: #35444F;
         margin: 40px auto 0; 
    }
    
    .header-menu{
        display: flex;
        height: 69px;
        justify-content: center;
        list-style-type: none;
    }
    
    .header-item{
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding: 0 30px;
        height: 69px;
        line-height: 69px;
    }
    .header-item:hover{
        background-color: #000;
    }

    
    .header-menu-item:not(:first-child){
        border-left: none;
    }
    
    .header-item a{
        text-decoration: none;
        color: #fff;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
    }

.main-block{
    display: flex;
    gap: 50px;
}
.main-sidebar-menu{
    width: 344px;
    height: 375px;
    border: 1px solid #000;
}

.main-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}

.main-item{
    justify-content: center;
    text-align: start;
    padding-left: 0%;
}

.main-item:hover{
    background-color: #827d7d89;
}

.main-item a{
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 30px;
    line-height: 75px;
}
.content{
    width: 883px;
    display: flex;
    flex-direction: column ;
    margin-left: auto;
    text-align: left;
    

}
 .block-image{
    display: flex;
    justify-content: center;
    width: 885px;
    height: 529px;
    align-items: center;
    margin: 0%;
    border: 1px solid #000;
 } 

.block-image img{
    width: 320px;
    transition: transform 0.9s ease;
}
.block-image img:hover{
    transform: scale(1.2);
}
.text{
    margin-top: 20px;
    justify-content: center;
}
 p{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 0%;
    word-spacing: 3px; ;
 }
 .text-2{
    margin-top: 10px;
 }


  .bottom-menu-container {
    width: 1280px;
    background-color: #c4bebea1;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
}


.bottom-menu {
    height: 69px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-item {
    margin: 0 20px;
}

.bottom-item:not(:last-child) {
    margin-right: 20px;
}
.bottom-item:first-child {
    margin-left: 40px;
}
.bottom-item a {
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    border-bottom: 1px solid transparent;
}


.text-bottom {
    width: 190px;
    margin-right: 30px; 
    display: flex;
    align-items: center;
}

.text-bottom p {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto;
    padding-top: 0;
    margin-top: 0%;
}
.bottom-item a:hover{
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}